h1 {
    color: coral ;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif ;
    text-align: center ;
    background-color: #87db1a94
}
h2{
    color: rgb(128, 109, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 30px ;
}
h3{
    margin-left: 30px ;
}
body {
    background-color: #e9ff23 ;
    width: 1000px ;
    margin-bottom: 30px ;
    margin: 0 auto ;    
}
html{
    background-color: rgba(56, 25, 139, 0.233) ;
}
table {
    border-spacing: 5px;
}
.button  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;    
}
#or {
    background-color: white; 
    color: black; 
    border: 2px solid gold;
    position: relative;
    left: 51.5%
}
#or:hover {
    background-color: gold;
    color: white;
}
#argent {
    background-color: white; 
    color: black; 
    border: 2px solid silver;
    position: relative;
    left: 54%
   }
#argent:hover {
    background-color: silver;
    color: white;
}
#bronze {
    background-color: white; 
    color: black; 
    border: 2px solid dimgray;
    position: relative;
    left: 56% ;
}
#bronze:hover {
    background-color: dimgray;
    color: white;
}
#tout {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    position: relative ;
    left: 65% ;
}
#tout:hover {background-color: #e7e7e7;}

#pays {
    position: relative ;
    left: 33% ;
    background: #e9ff23 ;
    color: grey ;
}
#classement {
    background: #e9ff23 ;
    position: relative ;
    left: -10% ;
    color: grey ;
}
#tout:hover {background-color: #e7e7e7;}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
